﻿html, body {
	font-family: Tahoma, Geneva, sans-serif;

	margin:0px 4px;padding:0;height:100%;

	font-size: 14px;
	line-height: 18.5714px;
}

input, select, textarea { font-size: 14px; }

#containerClinica { position: relative;min-height:100%;	}
#bodyClinica { padding-bottom:120px; }
#footerClinica {
   height:50px;position:absolute;bottom:0;width:100%;
   background:#4D4D4D;
	color: white;
	display: flex;align-items: center;justify-content: flex-end;
	font-style:italic;
}
#footerClinica a {color:#9b9b9b;}

h1 {
	font-family: sans-serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}

img {
	vertical-align:middle;
}

fieldset{
	border-radius:4px;
	padding: 18px 12px;
	margin-bottom: 15px;
}

legend {
	text-align:center;
	font-size:14pt;
}

tr {
	text-align: left;
}

.ui-dialog{
	width: 80%;
	height: 70%;
}

.sorting_asc{
	font-size: 11pt;
}

.sorting_desc{
	font-size: 11pt;|
}

.sorting  {
	font-size: 11pt;
}



.titulo_fieldset{
	font-family: sans-serif;
	font-size: 18px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
	text-align:center;
}

.centrar{
	margin: 0 auto;

}

.boton{
	background-image: url("../images/boton_mac.png");
    background-repeat: repeat-x;
	border-radius:15px;
	font-size: 14PT;
	font-weight:lighter;
	width: 150px;
    background-size: 100% 100%;
    height: 30px;

}
.boton:hover{
	background-image: url("../images/boton_mac_hover.png");
    background-repeat: repeat-x;
	border-radius:15px;
	font-size: 15PT;
	font-weight:lighter;
}

.estilo_form{
	position: absolute;
    border: 1px solid;
    padding: 20px;
    margin-top: 50px;
    left: 35%;
}

.boton_derecha{
	float:right;
	margin-right: 10px;
    margin-bottom: 10px;
}

.text_area{
	border: 1px solid #cfd9db;
    background-color: #ffffff;
    border-radius: .25em;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08);
	margin-bottom: 5px;
	height:23px;
}

.text_form{
	text-align:left;
	width:150px;
	float:left;
	margin-left: 40px;
}

.header_boveda{
	background-color: #f2f2f2;
	box-shadow: 5px 5px #dddddd;
	height:108px;
	/*margin-top:-22px;*/

}

.logo_izquierdo_header {
    padding-top: 15px;
    padding-left: 5px;
    width: 220px;
    height: 56px;
    float: left;
}
.header_content {
    margin: 0 auto;
    width: 100%;
	height:108px;
}


.usuario_header {
    float: left;
	padding-top: 18px;
	text-transform: capitalize;
}




.log_off {
    margin-top: 10px;
    margin-right: 10px;
    bottom: 0;
    float: right;
}
.logo_derecho_header {
    padding-top: 15px;
    padding-left: 5px;
    width: 220px;
    height: 56px;
    float: right;
}

.clear {
    clear: both;
}
.logo_derecha {
    float: right;
    padding-top: 5px;
    width: 108px;
    height: 90px;
}
.welcome {
    float: left;
    padding-bottom: 10px;
}
.foto_header {
    margin-left: 30%;
    padding-top: 17px;
    font-size: 19pt;
    text-align: center;
    height: 65px;
    width: 110px;
    float: left;
}
.fondo_bu {
    width: 100%;
}

.content{
	width:90%;
	margin: 0 auto;

}

@media only screen and (max-width: 1600px) {
    body .fondo_formularios { width:70%; }
}

@media only screen and (max-width: 1024px) {
    /* For mobile phones: */
    .content {
        width: auto;
    }
    body .fondo_formularios { width:80%; }
}

/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   speak for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .7 )
                url('../images/ajax-loader.gif')
                50% 50%
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}

.hover:hover, .hover:hover > td {
	background-color: #d6e4f5;
}

.estilo_input_encabezado_global{
	height:50px;
	width:150px;
}

.input {
    font-size: 11px;
    border-style: solid;
    padding: 2px;
    border-width: 1px;
    border-radius: 8px;
    height: 22px;
    color: #464646;
    text-align: center;
	border: 1px solid #cfd9db;
    background-color: #ffffff;
}

.cab_horario{
	text-align:center;
	background-color:#585858;
	color:#FFFFFF;
}
.fondo_formularios, .fondo_formularios_2 {
	background-color:#e7f0f7;
	box-shadow: 5px 5px #dddddd;
	margin:auto;
	padding:10px;
	margin-top:10px;
}

.fondo_formularios { width:60%; }

.fondo_formularios table {
	    width: 90%;
	    margin: auto;
}
.fondo_formularios input {
	width:70%;
    /*height: 34px;*/
    border-radius: 5px;
    margin-bottom: 4px;
    border-width: 1px;
    background-color: #fff;
    padding: 10px;
	border-color:#dddddd;
}

input.readonly {
	width:initial;min-width:140px;background-color:#d0e0e0;
}

.fondo_formularios textarea, .fondo_formularios .livespell_textarea {
	width:97%;
	border-radius: 5px;
	margin-bottom: 4px;
	border-width: 1px;
	background-color: #fff;
	padding: 10px;
	border-color:#dddddd;
}

.fondo_formularios select {
	width: 70%;
    height: 40px;
    border-radius: 5px;
    margin-bottom: 4px;
    border-width: 1px;
    background-color: #fff;
    padding: 10px;
	border-color:#dddddd;
}

.fondo_formularios button, .button_fondo_formularios {+
	width: initial;
	display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 1px 1px 2px;
}

.fondo_formularios button:hover, .fondo_formularios button:active, .button_fondo_formularios:hover, .button_fondo_formularios:active {
    border: 1px solid lavenderblush;
    background-color: lavenderblush;
}

.fondo_formularios button:active, .button_fondo_formularios:active {
	border: 1px solid dimgray;
	position:relative;
	top:1px;
	left:1px;
	box-shadow: 1px 1px 0px;
}

.fondo_formularios .button_icono {
    padding: 4px 8px;
}

.fondo_formularios .button_icono img { vertical-align: middle; width:28px; height:28px; }

.relleno_gris {
	border: 1px solid #ddd;
	background-color: #eee;
	padding:2px 1px;
}

.btn_clinica {
	height:40px;min-width:100px;margin:5px 10px 5px 0px;border-radius:10px; padding:10px;
}

.btn_clinica_compacto {
	font-size:1em;border-radius:8px; padding:4px 8px;
}

.columna2 {
	float: left;
	width: 50%;
}

.label_tabla_right {
	text-align: right;
	padding-right: 15px;
}

.cabecera_tabla {
	border: 1px solid #000000; margin-bottom:5px;margin-top:1px;
}

.area_gris {
	background-color:#E6E6E6;padding:12px 0px 12px 0px;margin-bottom:20px;display:flex;flex-direction:column;align-items:center;justify-content:center;font-size:1.1em;
	color:#404040;
}
.area_gris label {
	padding-bottom:6px;
}
.centro {
	text-align:center;
}
.oculto {
	display:none;
}
.flex, .flex_vertical, .flex_centro {display:flex;}
.flex_vertical {flex-direction:column;align-items:center;}
.flex_centro {justify-content:center;align-items:center;}
.click, .clickable {
	cursor:pointer;
}
.rojo {color:red;}
.azul {color:blue;}
.verde {color:#50e123;}
.morado, .purple {color:#783b93;}

.icono_menu { max-height:21px; max-width:26px; vertical-align:middle; }

.icono_btn {
	border:1px solid #979797; padding:4px 5px; border-radius:3px; background-color:#dddddd; cursor:pointer; position:relative; margin-right:3px; font-size:0.9em; display:inline-block;
}
.icono_btn:hover, .icono_btn:focus {
	background-color:#cacaca;border-color:#7e7e7e;
}
.icono_btn:active  {
	box-shadow:inset 0 3px 5px rgba(0, 0, 0, .2);outline:none;background-color:#bababa;border-color:#676767;
}
.icono_btn img {
	vertical-align: middle;
	width:24px;
	height:24px;
}
.icono_btn.small img { height:14px;width:14px; }
.icono_small {
	vertical-align: middle;
	width:28px;
	height:28px;
}
.sombra {
	box-shadow: 1px 1px 2px rgba(0, 0, 0, .2);
}
.grande {
	font-size:21px;font-weight:bold;
}
.mediano {
	font-size:17px;
}
.titulo_divset {
	padding: 0px 10px;
	margin: 0px 0px 20px 10px;
	font-size: 18px;
	display: inline-block;
	text-align: center;
	position: relative;
	top: -10px;
	background-color: #ffffff;
}

.margin, .margen { margin:10px;}
.margen_derecha { margin-right:20px;}
.padding { padding:10px; }
.padding_medium, .padding_medio { padding:20px; }

.largo, body .wide { width:auto;margin:auto;min-width:80%;max-width:99%; }
.medalla, .medalla_azul, .medalla_gris { text-align: center;position: absolute;background:rgba(224,35,35,1); top:-7px;right:-7px;height:1.2em;min-width:1.2em;line-height:1.2em;font-size:0.7em;border-radius:45%;color:white;font-weight:700;padding:3px;z-index:2; }
/*.medalla_azul {background-color:rgb(35, 104, 224);}*/
.medalla_azul {background-color:rgb(66, 125, 228);}
.medalla_gris {background-color:rgb(210, 210, 210);color:#929292;padding:2px;top:-5px;right:-5px;}
.bloque, .block {
	display: block;
}
.relativo, .relative {
	position: relative;
}
.fondo_formularios .input_readonly { width:initial;min-width:140px;background-color:#d0e0e0; }

.tdjunto td:first-child { text-align:right; padding-right:20px; }

.tabla_geno td:first-child { text-align:right; padding-right:16px; }
.tabla_geno input, .tabla_geno textarea { width:initial; }
input.compacto, textarea.compacto { border-radius:3px; padding:5px; margin:0px; }
